/* couleurs : #E01B35 , #212121 , #BFBFBF , #FFFFFF , #8E0303 */

*{
    padding: 0;
    margin: 0;
    /* list-style: none; */
    
}

body{
    /* font-family: montserrat; */
    background-color: #BFBFBF;
} 

nav{
    display: flex;
    justify-content: space-between;
    
    height: 10vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    background: #FFFFFF;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 2vh;
    /* margin-bottom: 5px; */
    /* padding: 100px; */
}

.logoimage{
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

a.alogo{
    text-decoration: none;
    color: #212121;
    font-size: 30px;
    font-weight: bold;
    border: none !important;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vh;
}

nav li{
    display: inline;
    margin-right: 8px;
    line-height: 80px;
}

a.menus {

    color: #212121;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1vh solid transparent;
    border-radius: 3px;
}

a.active, a:hover{
    border: 1px solid #8E0303;
    transition: .5s;
}

nav #icon{
    display: flex;
    align-items: center;

    color: #212121;
    font-size: 30px;
    /* line-height: 80px; */
    /* float: right; */
    margin-right: 40px;
    cursor: pointer;

    display: none;
}

.icone-search{
    display: none;
    color: #212121;
    cursor: pointer;
}

@media (max-width : 750px){
    nav #icon{
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    .icone-search{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    .logo{
        margin: 0;
    }

    nav ul{
        text-align: center;

        position: fixed;
        width: 100%;
        height: fit-content;
        background: #BFBFBF;
        top: 80px;
        left: -100%;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    /* a.active,a:hover{
        border:none;
        color: #3498db;
    } */
    nav ul.show{
        left: 0;
    }
}

#page{
    background-size: cover;
    height: calc(100vh - 80px);
    display:flex;
    flex-direction: row;
    width:100vh;
}

.wheel
{
    width:50vh;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:50vh;
}

